<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uta.expensetracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseTracker">
        <activity
            android:name=".BarChartActivity"
            android:exported="false" />
        <activity
            android:name=".PieChartActivity"
            android:exported="false"
            android:parentActivityName=".Charts"/>
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:parentActivityName=".Profile" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:parentActivityName=".Overview" />
        <activity
            android:name=".Charts"
            android:exported="false"
            android:parentActivityName=".Overview" />
        <activity
            android:name=".Overview"
            android:exported="false" />
        <activity
            android:name=".HistoryLayout"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false"
            android:parentActivityName=".Overview" />
        <activity
            android:name=".DeleteUpdateExpense"
            android:exported="false"
            android:parentActivityName=".History" />
        <activity
            android:name=".AddExpense"
            android:exported="false"
            android:parentActivityName=".Overview" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>